<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Edit book</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/allbooks/<%=book._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="book[title]"
                       value="<%=book.title %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="genre">Genre</label>
                <input class="form-control" type="text" id="genre" name="book[genre]"
                       value="<%=book.genre %>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

           <div class="mb-3">
            <div>
                <label class="form-label" for="image">Add another image</label>
            </div>
            <input type="file" name="image" id="" multiple>
    </div>

            <div class="mb-3">
                <label class="form-label" for="price"> Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">RSD</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                           aria-describedby="price-label" name="book[price]" value="<%=book.price %>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                          name="book[description]" required><%= book.description%></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Update book</button>
            </div>
        </form>
        <a href="/allbook/<%= book._id%>">Back to book</a>
    </div>
</div>



